h1 {
	font-size: 35px;
	text-align: center;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
}

#simple {
	font-size: 25px;
	text-align: center;
	font-family: cursive;
}

#message {
	font-size: 30px;
	text-align: center;
	font-family: monospace;
}

#avertissement {
	font-size: 15px;
	text-align: center;
	font-family: monospace;
}

body {
	margin: 0;
    background-color: #dceeff;
	overflow-x: hidden;
}

table {
	border-collapse: collapse;
	margin: 20px auto;
	font-size: 1.2rem;
	overflow: hidden;
	border-radius: 1em;
	font-family: cursive;

}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 10px;
}

.head-table-calendar,
.body-table-calendar {
	width: 80px;
	/* height: 80px; */
	text-align: center;
	vertical-align: middle;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	position: relative;
}

.head-table-calendar {
	background-color: rgb(216, 216, 216);
}

.debut {
	height: 100px;
	background-color: rgb(179, 206, 241);
}

.fin {
	height: 100px;
	background-color: rgb(236, 200, 101);
}

.milieu {
	height: 80px;
	background-color: rgb(238, 245, 175);
}

.marker {
	background-color: rgb(159, 255, 151);
}

.mark-line {
	width: 80px;
	height: 2px;
	background-color: rgb(255, 11, 11);
	position: absolute;
}

#debut-debut-week {
	background-color: rgb(158, 158, 158);}
#debut-fin-week {
	background-color: rgb(158, 158, 158);
}

#milieu-fin-week {
	background-color: rgb(187, 187, 187);
}
#milieu-debut-week {
	background-color: rgb(187, 187, 187);
}

#fin-debut-week {
	background-color: rgb(158, 158, 158);}
#fin-fin-week {
	background-color: rgb(158, 158, 158);}

.calendar-container {
	padding: 20px;
	width: 70%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	margin-bottom: 10px; /* Ajouter une marge en bas */
}

.weather-container {
	text-align: center;
	padding: 20px;
	width: 70%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

@media (max-width: 600px) {
	.calendar-container {
		padding: 20px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		margin: 0 auto;
		margin-bottom: 10px; /* Ajouter une marge en bas */
	}
	
	.weather-container {
		text-align: center;
		padding: 20px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		margin: 0 auto;
	}
}

.weather-container h2 {
	font-size: 2rem;
	color: #333;
}

.weather-container p {
	font-size: 1.2rem;
	color: #555;
	font-style: italic;
}

.head-table-weather,
.body-table-weather {
	width: 190px;
	/* height: 80px; */
	text-align: center;
	vertical-align: middle;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	position: relative;
}

.head-table-weather {
	background-color: rgb(216, 216, 216);
}

#temperature {
	height: 50px;
	background-color: rgb(179, 206, 241);
}
#force-vent {
	height: 50px;
	background-color: rgb(236, 200, 101);
	
}
#direction-vent {
	height: 50px;
	background-color: rgb(238, 245, 175);
}

.wind-compass {
	width: 300px;
	margin: 40px auto;
}
.compass-svg text {
	font-size: 15px;
	font-family: Ribeye;
	fill: #333;
}

#cercle-cardinal {
	fill: rgb(179, 206, 241);
	stroke: #ccc;
	stroke-width: 2;
}
#cercle-direction-vent {
	fill: rgb(238, 245, 175);
	stroke: #ccc;
	stroke-width: 2;
}
#cercle-force-vent {
	fill: rgb(236, 200, 101);
	stroke: #aaa;
	stroke-width: 1;
}
#wind-needle {
	stroke: rgb(255, 11, 11);
	stroke-width: 3;
}

.local-buttons {
	background-color: rgb(216, 216, 216);;
	border: none;
	padding: 10px 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 30px;
	font-size: 16px;
	font-family: cursive;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.local-buttons:hover {
	background-color: rgb(159, 255, 151);
	transform: scale(1.05);
}

.local-buttons:active {
	transform: scale(0.98);
}

.local-buttons.active {
	background-color: #1184ff;
	color: white;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}
  

#toggle-compass-button {
	background-color: rgb(216, 216, 216);;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 16px;
	font-family: cursive;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, transform 0.2s ease;
}

#toggle-compass-button:hover {
	background-color: rgb(159, 255, 151);
	transform: scale(1.05);
}

#toggle-compass-button:active {
	transform: scale(0.98);
}

footer {
	color: #555;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

footer a {
	margin-left: 5px;
	color: #555;
	transition: color 0.2s ease;
  }
  
footer a:hover {
color: #1184ff;
}

@media (max-width: 600px) {
	footer {
	  display: none;
	}
  }